<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
      integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <div class="flex justify-center items-center h-[100vh] bg-blue-100 flex-col">
      <i class="fa-solid fa-key text-[122px]"></i>
      <h1 class="text-[30px] font-[700] m-[6px]">SECRETS</h1>
      <p class="text-[19px] font-[200] m-[5px] mb-[14px] border-b-[2px]">
        Don't keep your secrets, share them anonymously!
      </p>
      <hr />
      <div class="m-[6px]">
        <a class="bg-[] border-[2px] rounded-[7px] p-[8px] m-[6px]" href="/register">Register</a>
        <a class="bg-[red] border-[2px] rounded-[7px] p-[8px] m-[6px]" href="/login">Login</a>
      </div>
    </div>
  </body>
</html>
